.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    color: #6c757d;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section h4 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
    .footer-section {
        margin-bottom: 20px;
    }
}
